<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users data</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h2>enter details</h2>
        <form method="POST">
            {{ form }}
            {% csrf_token %}
            <input type="submit" class='btn btn-primary' value="Submit">
        </form>
    </div>


    
    <!--{% if users %}
    <ol>
        {% for person in users %}
        <li>User info</li>
        <ul>
            <li>First Name : {{ person.first_name }}</li>
        </ul>
        <ul>
            <li>Last Name : {{ person.last_name }}</li>
        </ul>
        <ul>
            <li>Last Name : {{ person.last_name }}</li>
        </ul>
        {% endfor %}
    </ol>
    {% endif %}
    {% if users %}
    {% for person in users %}
    <div class="container">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header"><h3>First Name : {{ person.first_name }}</h3></div>
        <div class="card-body">
            <h4 class="card-title">Last Name : {{ person.last_name }}</h4>
            <h5 class="card-text">email : {{ person.email }}</h5>
        </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}-->
    <div class="container">
    <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
              {% if users %}
              {% for person in users %}
                <tr>
                <td>{{ person.first_name }}</td>
                <td>{{ person.last_name }}</td>
                <td>{{ person.email }}</td>
              </tr>
              {% endfor %}
          {% endif %}
            </tbody>
          </table>
        </div>
          
          

</body>
</html>